<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>puzzles</key>
	<array>
		<string>-x---|xxx--|-x-x-|--xxx|---x-|</string>
		<string>xx-xx|x---x|-----|x---x|xx-xx|</string>
		<string>--x--|--x--|xx-xx|--x--|--x--|</string>
		<string>x----|-x---|--x--|---x-|----x|</string>
		<string>xxxxx|xxxxx|-----|xxxxx|xxxxx|</string>
		<string>-----|-----|x-x-x|-----|-----|</string>
		<string>xx-xx|xx-x-|-x---|-x---|x----|</string>
		<string>-x---|--x--|xx---|--x--|-xxx-|</string>
		<string>-x--x|xxx-x|-x-x-|-xxxx|-----|</string>
		<string>xxx-x|-x-xx|-x--x|xxx--|-x---|</string>
		<string>-xxx-|-xxx-|xx-xx|---x-|xxx--|</string>
		<string>x-x--|xxxxx|x-x--|-x-x-|xx---|</string>
		<string>--x--|xxx-x|xxxx-|xx-x-|--xx-|</string>
		<string>-xxxx|xxxxx|-x-xx|--xxx|x--xx|</string>
		<string>-xxx-|x--x-|xxx--|x-xxx|x-x-x|</string>
		<string>-xxx-|x-x--|xx--x|x--xx|xx-xx|</string>
		<string>xx-xx|x--xx|---xx|-xxx-|---xx|</string>
		<string>xx-x-|---xx|-x-x-|-----|-xxx-|</string>
		<string>---xx|-----|---x-|-xxxx|-----|</string>
		<string>xx---|xxxx-|--xx-|-xxxx|-x-x-|</string>
		<string>x-xxx|xxx--|x-xxx|x-x-x|-----|</string>
		<string>-x-x-|xxx-x|xxxxx|-x--x|----x|</string>
		<string>--xx-|---x-|xxxx-|xxx--|-x--x|</string>
		<string>-xx--|x-xxx|-xxxx|xxxx-|xx-xx|</string>
		<string>x----|-xx--|xxx-x|-x---|xxx-x|</string>
		<string>x-xx-|x-xx-|-x--x|xx--x|x----|</string>
		<string>x----|-xxxx|xx-xx|x----|---xx|</string>
		<string>--x--|-xx--|----x|x-x--|xxxx-|</string>
		<string>xx--x|-xxxx|--xxx|--x--|--xx-|</string>
		<string>-x-x-|-x-x-|-x-x-|x--x-|x--xx|</string>
		<string>-x---|x--xx|xx-xx|x-xx-|--x--|</string>
		<string>xxx--|-xxxx|--x--|-----|x---x|</string>
		<string>--x-x|xxx--|-x--x|-xxxx|xxxx-|</string>
		<string>xxx--|--xxx|--x-x|--xxx|-x--x|</string>
		<string>x-x-x|-xxxx|xxxxx|-x-xx|-xx--|</string>
		<string>-x-xx|x----|x-x--|x--x-|---xx|</string>
		<string>x--xx|x-xxx|x----|xx-xx|xxxx-|</string>
		<string>--x--|x-x-x|xxx-x|xxx--|xxxx-|</string>
		<string>--xxx|xx--x|--xxx|---x-|--xxx|</string>
		<string>x----|x-xx-|-----|xxx--|xx-xx|</string>
		<string>x--x-|xx---|xxxx-|xx---|xx-xx|</string>
		<string>--x-x|-xx--|x-x-x|x---x|--xxx|</string>
		<string>---xx|xxx-x|-x--x|x--x-|-x---|</string>
		<string>x--xx|-x---|x-xx-|-xxxx|-xxx-|</string>
		<string>x---x|xx--x|-----|-----|x----|</string>
		<string>xxx-x|x-x-x|x-x-x|xxxxx|xx-xx|</string>
		<string>--x--|xx---|---xx|x-x-x|xx---|</string>
		<string>x-xxx|-x--x|-x-xx|xxxxx|---x-|</string>
		<string>xxxxx|x-x-x|x---x|-x-xx|---xx|</string>
		<string>x--x-|-xxxx|---x-|xx--x|--xxx|</string>
		<string>x--x-|-x--x|xx---|-x-x-|-xx-x|</string>
		<string>xx--x|x-x-x|xx---|---xx|xxxxx|</string>
		<string>xxxxx|--xxx|xx--x|--x--|--x--|</string>
		<string>x-x-x|-x--x|x-x-x|---x-|x---x|</string>
		<string>-xxxx|-xx--|x-x--|xxx-x|-x-x-|</string>
		<string>-x---|----x|x-x-x|---xx|xxxx-|</string>
		<string>xx--x|--xx-|x---x|xx-x-|x--x-|</string>
		<string>---xx|xxxxx|x-xx-|-xxxx|x-xxx|</string>
		<string>xxxx-|-x--x|xxxx-|-xxxx|x--xx|</string>
		<string>x---x|-x-x-|x--x-|--x-x|-xx-x|</string>
		<string>-----|-xx--|xxx-x|x-x-x|x--x-|</string>
		<string>---x-|xxxx-|-x---|-xx-x|x----|</string>
		<string>xxx--|x-xxx|-----|-xx--|-----|</string>
		<string>xxx--|-x---|x--x-|x----|x--xx|</string>
		<string>x-xxx|-xx--|--x-x|xx-x-|--x--|</string>
		<string>xx---|xxx-x|xx--x|-xxxx|-xxx-|</string>
		<string>-x--x|----x|x-x-x|----x|-xxx-|</string>
		<string>-xx-x|xx---|xxxx-|xx-xx|-xx--|</string>
		<string>--x--|-x--x|-----|-x--x|xx---|</string>
		<string>xx---|x----|xx-x-|--xx-|xx-x-|</string>
		<string>xx-x-|-xx--|xxx--|---xx|----x|</string>
		<string>x-xx-|x-x-x|-xxxx|-x-xx|x--xx|</string>
		<string>x----|x----|x-xx-|xx---|--xxx|</string>
		<string>----x|-xxxx|-x---|xx--x|xx---|</string>
		<string>----x|x-x-x|-xx-x|---xx|----x|</string>
		<string>-x---|x-x--|---xx|x-xxx|--xxx|</string>
		<string>xx-x-|x-xx-|x----|x--x-|----x|</string>
		<string>xx--x|---x-|xx--x|x---x|--xx-|</string>
		<string>-x---|xx---|-xx--|---xx|xxx-x|</string>
		<string>xx---|-x--x|-x-x-|---x-|--xxx|</string>
		<string>--x-x|-xx--|-x--x|-x-xx|x--x-|</string>
		<string>-----|xx-x-|xxx-x|x----|-xxxx|</string>
		<string>xx--x|xxxxx|x-xxx|-xx--|--xx-|</string>
		<string>xx-x-|x----|-x--x|--xxx|--x-x|</string>
		<string>xxxx-|x----|xx---|-xx-x|x----|</string>
		<string>--xxx|xxx-x|---x-|-x-x-|x----|</string>
		<string>x---x|xxxxx|-x--x|xx-x-|xxx--|</string>
		<string>---x-|xx--x|xxx--|x-xx-|-x--x|</string>
		<string>x-x--|x-x-x|xx-x-|-x-x-|x--xx|</string>
		<string>--xxx|xx--x|x-xxx|--xxx|x--xx|</string>
		<string>x--xx|-x--x|x----|---x-|x-x--|</string>
		<string>xxx-x|-x---|-x-xx|x--xx|xx--x|</string>
		<string>--xx-|x---x|--xxx|xx--x|x-xx-|</string>
		<string>-xx--|-xxxx|xx--x|--xx-|--xx-|</string>
		<string>x--xx|x---x|x---x|x-xxx|-xx-x|</string>
		<string>x---x|xxx--|--xxx|----x|xx---|</string>
		<string>-x-x-|-x-xx|xx--x|--xxx|x----|</string>
		<string>x-x--|x---x|xx--x|--xx-|-xxx-|</string>
		<string>--x--|xxxx-|xxxx-|---x-|--xx-|</string>
		<string>-----|xxx-x|--x--|xxxxx|x-xxx|</string>
		<string>xxx-x|-xxx-|xxx--|-xx-x|--x-x|</string>
		<string>x---x|----x|----x|x-xxx|-xxxx|</string>
		<string>x-xx-|---xx|-xx-x|--xxx|x-x-x|</string>
		<string>-xx-x|-x--x|--xx-|xxx-x|x-x-x|</string>
		<string>---xx|--x--|x--xx|--xxx|x-x--|</string>
		<string>-x---|-xx-x|x---x|x-xx-|xx--x|</string>
		<string>--x-x|-xxxx|---x-|x-x-x|xx---|</string>
		<string>-----|x-x-x|xxxx-|-----|----x|</string>
		<string>x----|-xx-x|x-x-x|--x-x|x-xx-|</string>
		<string>x----|xx--x|xxxx-|xxxx-|-xxx-|</string>
		<string>xxxx-|----x|-x--x|x--xx|--xx-|</string>
		<string>-xx-x|xxx-x|xx-x-|--xx-|xx--x|</string>
		<string>-xx-x|x-xx-|x-x--|xx-x-|-xx--|</string>
		<string>-x--x|-xxxx|-xx-x|--xx-|-x-xx|</string>
		<string>xxxx-|xxxxx|---xx|--xx-|xx---|</string>
		<string>-x--x|-x-x-|x--xx|xx-x-|--x-x|</string>
		<string>x---x|xx-xx|-x---|-xx--|-x-x-|</string>
		<string>x-xx-|--xxx|--xxx|x---x|xxx--|</string>
		<string>xxxx-|--xxx|xx---|--xx-|xx-xx|</string>
		<string>xx--x|x--x-|xx---|x--x-|-x---|</string>
		<string>---xx|--x--|xx---|x-xx-|x-xxx|</string>
		<string>xxx-x|x--x-|--xx-|xx--x|-xx-x|</string>
		<string>x-xx-|-----|x-x-x|-----|xx-xx|</string>
		<string>x-x-x|-xxx-|x--x-|x-x-x|xx--x|</string>
		<string>xx-x-|x-x-x|xxx-x|xxxx-|--xxx|</string>
		<string>xx--x|--xxx|xx---|-x--x|xx-xx|</string>
		<string>-xx-x|xxxx-|-xxxx|-xxxx|---x-|</string>
		<string>-xxx-|-xx-x|-xxx-|-----|x--x-|</string>
		<string>----x|xx-xx|--xxx|x-xxx|x-x-x|</string>
		<string>-x--x|xxx--|xx-x-|-x-xx|x--x-|</string>
		<string>--x-x|x--xx|x-x-x|x--x-|x----|</string>
		<string>xx--x|--xx-|-x--x|-xx--|x-x--|</string>
		<string>-x-xx|xxxx-|xxxx-|xx--x|---xx|</string>
		<string>----x|x-x-x|-----|x-x-x|-xx-x|</string>
		<string>-x--x|x---x|x-xx-|xx-xx|---xx|</string>
		<string>--x--|---xx|--x-x|-x---|xx---|</string>
		<string>---xx|-xx-x|x--x-|x---x|-x---|</string>
		<string>-----|-x---|xx-x-|xxxx-|x--x-|</string>
		<string>-----|-xxxx|-x-x-|-x---|xxx-x|</string>
		<string>----x|--x-x|x---x|--xx-|--x--|</string>
		<string>-----|x----|-x-xx|-xxx-|x--xx|</string>
		<string>x--xx|-----|xxx-x|x---x|x-xx-|</string>
		<string>-----|-xx--|---xx|x--x-|-xx--|</string>
		<string>x--x-|-xx--|-xx-x|----x|x--xx|</string>
		<string>x-xxx|--x--|x---x|-xxx-|-xx-x|</string>
		<string>x-x-x|-xx-x|----x|xx-xx|-xx--|</string>
		<string>x-x--|x--xx|---x-|xx---|x--x-|</string>
		<string>x-xxx|-x-x-|---x-|-x-x-|xxxx-|</string>
		<string>x--x-|xx-x-|--xxx|--x--|-xxx-|</string>
		<string>x--x-|-xxxx|x----|x--x-|---xx|</string>
		<string>xxxx-|xx--x|x-x-x|xxx-x|--xx-|</string>
		<string>xxx-x|-x-xx|-xxxx|--x--|x--xx|</string>
		<string>---xx|-xxxx|---xx|x----|-x-x-|</string>
		<string>-x-x-|-----|x--xx|x-x-x|--xx-|</string>
		<string>-xx--|--x-x|x-xx-|x--xx|xxx-x|</string>
		<string>x----|-xx--|-----|--x--|-xx--|</string>
		<string>xxxx-|xxxxx|xxx-x|-xxxx|-xxx-|</string>
		<string>x----|-----|---xx|x----|x-x-x|</string>
		<string>-x-xx|--x--|x-x--|x-xxx|xxxx-|</string>
		<string>-----|xxxxx|--x-x|x-x-x|x--x-|</string>
		<string>xxxx-|-xxx-|---xx|x--x-|xxxxx|</string>
		<string>xxx--|xxx-x|-x--x|---xx|x---x|</string>
		<string>x---x|--xx-|--xx-|--xx-|-xxxx|</string>
		<string>x-xx-|--x--|-xx-x|x-x--|-x--x|</string>
		<string>--x--|x----|-x-xx|--xx-|x-xxx|</string>
		<string>-xxxx|xxxxx|xx-xx|-x---|x----|</string>
		<string>--xxx|----x|--x-x|-xx--|-x---|</string>
		<string>-x---|--xx-|x-xx-|xx-x-|-xxx-|</string>
		<string>----x|-x-xx|--x--|--xxx|xx--x|</string>
		<string>xx---|xxx--|-----|x--xx|-xxxx|</string>
		<string>-xx-x|-----|--xx-|xxxx-|xxxx-|</string>
		<string>xxxxx|---xx|xxxx-|x--x-|x-xx-|</string>
		<string>xxx--|x----|xxx-x|-xx-x|xx-x-|</string>
		<string>-----|-----|-x-x-|--x-x|x---x|</string>
		<string>-----|-x-xx|x-xxx|---x-|xx-xx|</string>
		<string>--x--|----x|-x--x|x-xx-|x---x|</string>
		<string>--x--|-xx--|-x-x-|xxxxx|x-x--|</string>
		<string>-xxxx|--xxx|x--xx|--xxx|x----|</string>
		<string>xx---|-xx--|--xx-|xxxx-|-x--x|</string>
		<string>--xxx|xxx--|-xx--|x-xxx|xx-xx|</string>
		<string>xx---|-x--x|-xxxx|-xx--|x-xxx|</string>
		<string>x-xx-|-x--x|xx-x-|xx-xx|-xx-x|</string>
		<string>x----|x-xx-|x-xxx|xx-x-|-x-xx|</string>
		<string>-x---|xxx-x|x-xxx|x--x-|xxx-x|</string>
		<string>xxx--|x-x-x|xx-x-|xx-x-|---xx|</string>
		<string>xxxx-|-xxxx|xxxx-|xx---|-xxx-|</string>
		<string>xxx-x|-x-x-|-xx-x|xxxx-|xx-x-|</string>
		<string>---xx|---x-|x----|-xx-x|x-xx-|</string>
		<string>x--xx|xxxx-|-x-x-|xx-x-|--xxx|</string>
		<string>-xxx-|---x-|x--xx|xx--x|-x-xx|</string>
		<string>-----|--xxx|xxx--|xx--x|xxx--|</string>
		<string>-x-x-|x--xx|xxx-x|--xx-|-----|</string>
		<string>---x-|---xx|xx--x|xxxxx|----x|</string>
		<string>xx-xx|x-xx-|xxxx-|xxx--|x--xx|</string>
		<string>--x--|x----|xxx--|xxxx-|x---x|</string>
		<string>----x|--xx-|xxxxx|x----|xxx-x|</string>
		<string>-x---|x-x-x|-xxx-|-x-xx|xxxx-|</string>
		<string>x-x-x|xx---|---xx|---xx|-xxxx|</string>
		<string>x---x|----x|x--x-|xxxxx|x----|</string>
		<string>-xxxx|x-x-x|x--x-|---x-|--xx-|</string>
		<string>-x--x|xxxx-|xx-x-|x-x--|-----|</string>
		<string>xxx-x|-xx--|xxx-x|-xx-x|x---x|</string>
		<string>x-xxx|-xx--|xxxx-|x----|xxxxx|</string>
		<string>-x-xx|x-xxx|xxx-x|-x-xx|x-x-x|</string>
		<string>----x|x-x--|---x-|xx--x|-xxxx|</string>
		<string>x-x-x|xx-xx|-x-xx|-xxx-|xxxxx|</string>
	</array>
</dict>
</plist>
